* {
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.calculator {
  background-color: black;
  width: 400px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calculator .display {
  height: 100px;
  background-color: lightslategray;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.calculator .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.calculator .btn {
  background-color: #4b5465;
  color: white;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.calculator #clear {
  background-color: red;
}

.calculator #clear:hover {
  background-color: red;
}

.calculator #equals {
  background-color: lightblue;
}

