* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #6a718d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.calculator {
  background-color: #374259;
  width: 400px;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calculator .display {
  height: 100px;
  background-color: #1e2532;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.calculator .display p {
  font-size: 48px;
  color: #fff;
}

.calculator .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.calculator .btn {
  background-color: #4f5664;
  color: white;
  font-size: 22px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.calculator .btn:hover {
  background-color: #505d6e;
}

.calculator #clear {
  background-color: #f24e1e;
}

.calculator #clear:hover {
  background-color: #d94420;
}

.calculator #equals {
  background-color: #2d91ff;
  grid-column: span 2;
}

.calculator #equals:hover {
  background-color: #2288e0;
}
